body{
  background-color: white;
}

.island-buttons{
  display:flex;
  justify-content: space-evenly;

  height:100vh
}

.island-button{
  background-color: darkgray;
  color:white;
  cursor:pointer;
  height: 24px;
  border-radius:8px;
  margin: 12px;
  padding:12px;
}
